{% extends "base.html" %}

{% block content %}

    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <i class="fa fa-home"></i><a href="/">Dashboard</a>
            </li>
            <li class="active">
                Hashes
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Hashes <small>hashes list management</small></h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <div class="header-control pull-right">
                    <a href="{% url "hashes.views.new_hashes" %}"  type="button" class="btn btn-success pull-right" title="Add list" data-tooltip="tooltip" data-placement="left">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <ul class="nav nav-pills nav-primary" id="cases_tab">
                    <li class="active">
                        <a href="#my" data-toggle="tab">My</a>
                    </li>
                    <li>
                        <a href="#all" data-toggle="tab">All</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="my">
                        <div class="box">
                            <table class="table datatables">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Cipher</th>
                                        <th>Created at</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for list in my_lists %}
                                        <tr>
                                            <td><a href="{% url "hashes.views.show_hashes" list.id %}">{{ list.name }}</a></td>
                                            <td>{{ list.get_cipher_display }}</td>
                                            <td>{{ list.created_at }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    {% if request.user == list.owner or request.user.is_superuser %}
                                                        <a class="btn btn-danger btn-trash tool" href="#trash" role="button" data-toggle="modal" id="{% url "hashes.views.delete_hashes" list.id %}" title="Delete list">
                                                            <i class="icon-trash"> </i>
                                                        </a>
                                                    {% else %}
                                                        <a class="btn btn-danger tool" title="You are not authorized to delete this" disabled="disabled">
                                                            <i class="icon-trash"> </i>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="all">
                        <div class="box">
                           <table class="table datatables">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Cipher</th>
                                        <th>Created at</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for list in public_lists %}
                                    <tr>
                                        <td><a href="{% url "hashes.views.show_hashes" list.id %}">{{ list.name }}</a></td>
                                        <td>{{ list.get_cipher_display }}</td>
                                        <td>{{ list.created_at }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-danger btn-trash tool" href="#trash" role="button" data-toggle="modal" id="" title="Delete hash">
                                                    <i class="icon-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="trash" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h3>Delete hash list</h3>
        </div>
        <div class="modal-body">
            <p>
                This <b>permanently</b> deletes the selected hash list.
                Are you sure continue?
            </p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-danger" id="id">
                Delete
            </a>
            <button class="btn" data-dismiss="modal" aria-hidden="true">
                Cancel
            </button>
        </div>
    </div>

    <script type="text/javascript">
        $('.datatables').dataTable({
            "sDom" : '<"top">t<"bottom"p><"clear">',
            "aaSorting" : [[2, "desc"]]
        });

        $('.btn-trash').click(function(){
            var id = $(this).attr("id");
            $("#id").attr({href: id});
        });
    </script>

{%  endblock %}
