{% extends "base.html" %}

{% block content %}

    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <span class="glyphicon glyphicon-home gi-0x"></span><a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{% url "hashes.views.list_hashes" %}"><span class="glyphicon glyphicon-book gi-0x"></span> </i> Hashes</a>
            </li>
            <li class="active">
                New hash list
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Hashes</h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <div class="wdgt-header">Complete the following form for to create a new hash list</div>
                <div class="wdgt-body">
                    <form action="{% url "hashes.views.new_hashes" %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="form-group form-inline">
                            {{ form.non_field_errors }}
                            Name
                            <div class="controls box">
                                {{ form.name }}<span class="help-inline">{{ form.name.errors }}</span>
                            </div>
                            Description
                            <div class="controls box">
                                <textarea id="id_description" rows="3" name="description" style="width: 350px"></textarea><span class="help-inline">{{ form.description.errors }}</span>
                            </div>
                            Cipher
                            <div class="controls box">
                                {{ form.cipher }}<span class="help-inline">{{ form.cipher.errors }}</span>
                            </div>
                            <div class="box">
                                {{ form.public }} Public - <small> shared with other users</small>
                                <span class="help-inline">{{ form.public.errors }}</span>
                            </div>
                            <div class="controls box">
                                File {{ form.hash_list }}<span class="help-inline">{{ form.hash_list.errors }}</span>
                            </div>
                            <div class="form-actions">
                                <button id="btn_submit" type="submit" class="btn btn-success">
                                    Save
                                </button>
                                <a href="{% url "hashes.views.list_hashes" %}" class="btn btn-default"> Back </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}