<div class="box">
    <table class="table">
        <thead>
            <tr>
                <th>File name</th>
                <th>Owner</th>
                <th>Submitted at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if images %}
                {% for image in images %}
                    <tr>
                        <td>
                            <a href="{% url "analyses.views.show_analysis" image.id %}">{{ image.file_name }}</a></td>
                        <td>{{ image.owner.username }}</td>
                        <td>{{ image.created_at }}</td>
                        <td>
                            <a class="btn btn-primary fancybox" data-tooltip="tooltip" title="Show preview" href="{% url "analyses.views.image" image.image_id %}">
                                <span class="glyphicon glyphicon-picture"></span>
                            </a>
                            <a class="btn btn-info" data-tooltip="tooltip" title="Show analysis" href="{% url "analyses.views.show_analysis" image.id %}">
                                <span class="glyphicon glyphicon-list-alt"></span>
                            </a>
                            {% if image.favorites.all %}
                                <a id="{% url "analyses.views.favorite" image.id %}" data-tooltip="tooltip" title="Favorite" rel="{{ image.id }}" class="btn favorite btn-warning star{{image.id}}"> <span class="glyphicon glyphicon-star"></span></a>
                            {% else %}
                                <a id="{% url "analyses.views.favorite" image.id %}" data-tooltip="tooltip" title="Favorite" rel="{{ image.id }}" class="btn btn-default favorite star{{image.id}}"> <span class="glyphicon glyphicon-star"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">
                        No data available in table
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>