{% load analyses_tags %}

<div id="map_canvas"></div>

<script>
$(document).ready(function(){
    internetStatus();
});

function initialize() {
    var mapOptions = {
        center: new google.maps.LatLng(0,0),
        zoom: 2,
        mapTypeId: google.maps.MapTypeId.HYBRID
    };

    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

    {% for image in images %}

        var contentString = '<div>'+
            '<a href="{% url "analyses.views.show_analysis" image.id %}">' +
            '<h4>{{ image.file_name }}</h4>'+
            '<div id="img_container_map">'+
            '<img src="{% url "analyses.views.image" image.thumb_id %}" />' +
            '<span class="badge badge-success badge-map-low">{{ image.report.signatures|count_severity:"1" }}</span>' +
            '<span class="badge badge-warning badge-map-warning">{{ image.report.signatures|count_severity:"2" }}</span>' +
            '<span class="badge badge-important badge-map-error">{{ image.report.signatures|count_severity:"3" }}</span>' +
            '</div>' +
            '</a>';

        var infowindow_{{ forloop.counter }} = new google.maps.InfoWindow({
            content: contentString
        });

        marker_{{ forloop.counter }} = new google.maps.Marker({
            position: new google.maps.LatLng({{ image.latitude|floatformat:6 }}, {{ image.longitude|floatformat:6 }}),
            map: map,
            title: "{{ image.file_name }}"
        });

        google.maps.event.addListener(marker_{{ forloop.counter }}, 'click', function() {
            infowindow_{{ forloop.counter }}.open(map,marker_{{ forloop.counter }});
        });

    {% endfor %}
}
</script>