{% load add_get_parameter %}

{% if case.state == "O" %}
    <div class="pull-right">
        <a type="button" class="btn btn-success" data-tooltip="tooltip" title="Add" data-toggle="dropdown">
            <i class="fa fa-plus"></i> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{% url "analyses.views.new_image" case.id %}"><i class="fa fa-photo"></i> Add image</a>
            </li>
            <li>
                <a href="{% url "analyses.views.new_url" case.id %}"><i class="fa fa-link"></i> Add image url</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{% url "analyses.views.new_folder" case.id %}"><i class="fa fa-folder-open-o"></i> Add folder</a>
            </li>
        </ul>
        <a href="{% url "analyses.views.edit_case" case.id %}" class="btn btn-soft" data-tooltip="tooltip" title="Edit case"><i class="fa fa-pencil"></i></a>
        <a class="btn btn-warning btn-close-case" id="{% url "analyses.views.close_case" case.id %}" data-tooltip="tooltip" title="Close case" href="#close" role="button" data-toggle="modal"> <i class="fa fa-times"></i></a>
        <a class="btn btn-danger btn-delete-case" id="{% url "analyses.views.delete_case" case.id %}" data-tooltip="tooltip" title="Delete case" href="#delete" role="button" data-toggle="modal"> <i class="fa fa-trash-o"></i></a>
    </div>
    <div class="pull-right">
        <a class="btn btn-default" onClick="window.location.reload();return false;"><i class="fa fa-refresh"></i></a><span class="notice-new badge" id="notice"></span>
    </div>
{% else %}
    <div class="pull-right btn-group">
        <a class="btn btn-danger tool btn-delete-case" id="{% url "analyses.views.delete_case" case.id %}" title="Delete case" href="#delete" role="button" data-toggle="modal"> <i class="icon-trash"></i> </a>
    </div>
{% endif %}
<div>
    <dl class="dl-horizontal">
        {% if case.description %}
        <dt>
            Description:
        </dt>
        <dd>
            {% if case.description|length > 70 %}
                {{ case.description|slice:":70" }} ...
            {% else %}
                {{ case.description }}
            {% endif %}
        </dd>
        {% endif %}
        <dt>
            Status:
        </dt>
        <dd>
            {{ case.get_state_display }}
        </dd>
        <dt>
            Owner:
        </dt>
        <dd>
            {{ case.owner.username }}
        </dd>
        <dt>
            Created at:
        </dt>
        <dd>
            {{ case.created_at }}
        </dd>
        <dt>
            Case Id:
        </dt>
        <dd>
            {{ case.id }}
        </dd>
    </dl>
</div>
<ul class="nav nav-pills">
    <li {% if pagename == "list" %} class="active" {% endif %}>
        <a href="{% url "analyses.views.show_case" case.id "list" %}">Tasks</a>
    </li>
    <li {% if pagename == "owned" %} class="active" {% endif %}>
        <a href="{% url "analyses.views.show_case" case.id "owned" %}">Owned</a>
    </li>
    <li {% if pagename == "others" %} class="active" {% endif %}>
        <a href="{% url "analyses.views.show_case" case.id "others" %}">Not owned</a>
    </li>
    <li {% if pagename == "thumb" %} class="active" {% endif %}>
        <a href="{% url "analyses.views.show_case" case.id "thumb" %}">Thumbnails</a>
    </li>
    <li {% if pagename == "map" %} class="active" {% endif %}>
        <a href="{% url "analyses.views.show_case" case.id "map" %}">Map</a>
    </li>
    <li {% if pagename == "favorites" %} class="active" {% endif %}>
        <a href="{% url "analyses.views.show_case" case.id "favorites" %}">Favorites</a>
    </li>
    <li {% if pagename == "search" %} class="active" {% endif %}>
        <a href="{% url "analyses.views.show_case" case.id "search" %}">Search</a>
    </li>
</ul>
<div class="box">
    {% if pagename == "list" %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>File name</th>
                    <th>Status
                        {% if filtered %}
                            <a href="{% url "analyses.views.show_case" case.id "list" %}" class="tool" title="Show all tasks"><i class="fa fa-eye-slash"></i></a></th>
                        {% else %}
                            <a href="{% add_get filter='completed' %}" class="tool" title="Show only completed tasks"><i class="fa fa-eye"></i></a></th>
                        {% endif %}
                    <th>Owner</th>
                    <th>Submitted at</th>
                </tr>
            </thead>
            <tbody>
                {% if tasks %}
                    {% for task in tasks %}
                    <tr>
                        <td>
                        {% if task.state == "C" %}
                            <a href="{% url "analyses.views.show_analysis" task.id %}">{{ task.file_name }}</a>
                        {% else %}
                            {{ task.file_name }}
                        {% endif %}
                        </td>
                        <td>{{ task.get_state_display }}</td>
                        <td>{{ task.owner.username }}</td>
                        <td>{{ task.created_at }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">
                            No data available in table
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {% if tasks %}
            <div class="pagination text-center">
                {% if tasks.has_previous %}
                    <ul>
                        <li>
                            {% if filtered %}
                                <a href="{% url "analyses.views.show_case" case.id "list" %}?page={{ tasks.previous_page_number }}&filter=completed">← Previous</a>
                            {% else %}
                                <a href="{% url "analyses.views.show_case" case.id "list" %}?page={{ tasks.previous_page_number }}">← Previous</a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
                <span class="current pull-left">
                    <small>Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}</small>
                </span>
                {% if tasks.has_next %}
                    <ul>
                        <li>
                            {% if filtered %}
                                <a href="{% url "analyses.views.show_case" case.id "list" %}?page={{ tasks.next_page_number }}&filter=completed">Next → </a>
                            {% else %}
                                <a href="{% url "analyses.views.show_case" case.id "list" %}?page={{ tasks.next_page_number }}">Next → </a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    {% elif pagename == "owned" %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>File name</th>
                    <th>Status
                        {% if filtered %}
                            <a href="{% url "analyses.views.show_case" case.id "owned" %}" class="tool" title="Show all reports"><i class="fa fa-eye-slash"></i></a></th>
                        {% else %}
                            <a href="{% add_get filter='completed' %}" class="tool" title="Show only completed reports"><i class="fa fa-eye"></i></a></th>
                        {% endif %}
                    </th>
                    <th>Submitted at</th>
                </tr>
            </thead>
            <tbody>
                {% if tasks %}
                    {% for task in tasks %}
                    <tr>
                        <td>
                        {% if task.state == "C" %}
                            <a href="{% url "analyses.views.show_analysis" task.id %}">{{ task.file_name }}</a>
                        {% else %}
                            {{ task.file_name }}
                        {% endif %}
                        </td>
                        <td>{{ task.get_state_display }}</td>
                        <td>{{ task.created_at }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">
                            No data available in table
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {% if tasks %}
            <div class="pagination text-center">
                {% if tasks.has_previous %}
                    <ul>
                        <li>
                            {% if filtered %}
                                <a href="{% url "analyses.views.show_case" case.id "owned" %}?page={{ tasks.previous_page_number }}&filter=completed">← Previous</a>
                            {% else %}
                                <a href="{% url "analyses.views.show_case" case.id "owned" %}?page={{ tasks.previous_page_number }}">← Previous</a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
                <span class="current pull-left">
                    <small>Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}</small>
                </span>
                {% if tasks.has_next %}
                    <ul>
                        <li>
                            {% if filtered %}
                                <a href="{% url "analyses.views.show_case" case.id "owned" %}?page={{ tasks.next_page_number }}&filter=completed">Next → </a>
                            {% else %}
                                <a href="{% url "analyses.views.show_case" case.id "owned" %}?page={{ tasks.next_page_number }}">Next → </a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    {% elif pagename == "others" %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>File name</th>
                    <th>Status
                        {% if filtered %}
                            <a href="{% url "analyses.views.show_case" case.id "others" %}" class="tool" title="Show all reports"><i class="fa fa-eye-slash"></i></a></th>
                        {% else %}
                            <a href="{% add_get filter='completed' %}" class="tool" title="Show only completed reports"><i class="fa fa-eye"></i></a></th>
                        {% endif %}
                    </th>
                    <th>Owner</th>
                    <th>Submitted at</th>
                </tr>
            </thead>
            <tbody>
            {% if tasks %}
                {% for task in tasks %}
                <tr>
                    <td>
                    {% if task.state == "C" %}
                        <a href="{% url "analyses.views.show_analysis" task.id %}">{{ task.file_name }}</a>
                    {% else %}
                        {{ task.file_name }}
                    {% endif %}
                    </td>
                    <td>{{ task.get_state_display }}</td>
                    <td>{{ task.owner.username }}</td>
                    <td>{{ task.created_at }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">
                        No data available in table
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% if tasks %}
            <div class="pagination text-center">
                {% if tasks.has_previous %}
                    <ul>
                        <li>
                            {% if filtered %}
                                <a href="{% url "analyses.views.show_case" case.id "others" %}?page={{ tasks.previous_page_number }}&filter=completed">← Previous</a>
                            {% else %}
                                <a href="{% url "analyses.views.show_case" case.id "others" %}?page={{ tasks.previous_page_number }}">← Previous</a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
                <span class="current pull-left">
                    <small>Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}</small>
                </span>
                {% if tasks.has_next %}
                    <ul>
                        <li>
                            {% if filtered %}
                                <a href="{% url "analyses.views.show_case" case.id "others" %}?page={{ tasks.next_page_number }}&filter=completed">Next → </a>
                            {% else %}
                                <a href="{% url "analyses.views.show_case" case.id "others" %}?page={{ tasks.next_page_number }}">Next → </a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    {% elif pagename == "thumb" %}
        {% include "analyses/cases/_thum_image.html" with images=tasks %}
            {% if tasks %}
                <div class="pagination text-center">
                    {% if tasks.has_previous %}
                        <ul>
                            <li>
                                <a href="{% url "analyses.views.show_case" case.id "thumb" %}?page={{ tasks.previous_page_number }}">← Previous</a>
                            </li>
                        </ul>
                    {% endif %}
                    <span class="current pull-left">
                        <small>Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}</small>
                    </span>
                    {% if tasks.has_next %}
                        <ul>
                            <li>
                                <a href="{% url "analyses.views.show_case" case.id "thumb" %}?page={{ tasks.next_page_number }}">Next → </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            {% else %}
                <div class="alert">
                    <strong>Warning!</strong> there are not any photos.
                </div>
            {% endif %}
    {% elif pagename == "map" %}
        {% include "analyses/cases/_map_image.html" with images=tasks %}
    {% elif pagename == "favorites" %}
        {% include "analyses/cases/_favorites.html" with images=tasks %}
    {% elif pagename == "search" %}
        {% include "layout/_searchForm.html" with in_case_id=case.id%}
    {% endif %}
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#notice').load('{% url "analyses.views.count_new_analysis" case.id last_image %}')
})

var auto_refresh = setInterval(
function(){
    $('#notice').load('{% url "analyses.views.count_new_analysis" case.id last_image %}').fadeIn("slow");
}, 10000);
</script>
