{% load analyses_tags %}

<div class="box">
    <ul class="thumbnails">
        {% for image in images %}
            <li>
                {% if image.thumb_id %}
                    <a class="group1" rel="group1" href="{% url "analyses.views.image" image.image_id %}" title="{{ image.file_name }}">
                        <img src="{% url "analyses.views.image" image.thumb_id %}" />
                    </a>
                    <div class="tags">
                        {% if image.report.signatures|count_severity:"1" %}
                            <span class="label-holder">
                                <span class="label label-success">{{ image.report.signatures|count_severity:"1" }}</span>
                            </span>
                        {% endif %}
                        {% if image.report.signatures|count_severity:"2" %}
                            <span class="label-holder">
                                <span class="label label-warning">{{ image.report.signatures|count_severity:"2" }}</span>
                            </span>
                        {% endif %}
                        {% if image.report.signatures|count_severity:"3" %}
                            <span class="label-holder">
                                <span class="label label-important">{{ image.report.signatures|count_severity:"3" }}</span>
                            </span>
                        {% endif %}
                    </div>
                    <div class="icns">
                        <a href="{% url "analyses.views.show_analysis" image.id %}" title="Show report"> <i class="icon-list-alt"> </i></a>
                        {% if image.favorites.all %}
                            <a id="{% url "analyses.views.favorite" image.id %}" rel="{{ image.id }}" class="favorite btn-warning star{{image.id}}" title="Un-set as favorite"> <i class="fa fa-star"> </i></a>
                        {% else %}
                            <a id="{% url "analyses.views.favorite" image.id %}" rel="{{ image.id }}" class="favorite star{{image.id}}" title="Set as favorite"> <i class="fa fa-star"> </i></a>
                        {% endif %}
                        <a class="fancybox" href="{% url "analyses.views.image" image.image_id %}" title="View image: {{ image.file_name }}"><i class="fa fa-photo"> </i></a>
                    </div>
                {% else %}
                    <img src="{{ STATIC_URL }}img/no_image_large.jpg" />
                    <div class="tools">
                        <a href="{% url "analyses.views.show_analysis" image.id %}"> <i class="icon-list-alt"> </i></a>
                        <a class="fancybox" href="{% url "analyses.views.image" image.image_id %}" title="{{ image.file_name }}"><i class="fa fa-photo"> </i></a>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    $(document).ready(function(){
        //Examples of how to assign the Colorbox event to elements
        $(".group1").colorbox({rel:'group1'});
    });
</script>