{% extends "base.html" %}

{% block content %}
    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <span class="glyphicon glyphicon-home gi-0x"></span><a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{% url "analyses.views.list_cases" %}"><span class="glyphicon glyphicon-book gi-0x"></span> Cases</a>
            </li>
            <li class="active">
                Edit
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Edit case: <small>{{ case.name }}</small></h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <div class="wdgt-header">Modify the case</div>
                <div class="wdgt-body">
                    <form action="{% url "analyses.views.edit_case" case.id %}" method="POST">{% csrf_token %}
                        {% include "layout/_form.html" %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}