{% extends "base.html" %}

{% block content %}
    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <span class="glyphicon glyphicon-home gi-0x"></span><a href="/">Dashboard</a>
            </li>
            <li class="active">
                Cases
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Cases <small>browse all cases</small></h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
            <a href="{% url "analyses.views.new_case" %}" class="btn btn-success pull-right" type="button" data-tooltip="tooltip" data-placement="left" title="Add new case"><span class="glyphicon glyphicon-plus"></span></a>
                <ul class="nav nav-pills nav-primary">
                    <li class="active"><a href="#all" data-toggle="tab">All</a></li>
                    <li><a href="#owned" data-toggle="tab">Owned</a></li>
                    <li><a href="#others" data-toggle="tab">Not owned</a></li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane active" id="all">{% include "layout/_indexCase.html" with cases=last_cases %}</div>
                    <div class="tab-pane" id="owned">{% include "layout/_indexCase.html" with cases=my_cases %}</div>
                    <div class="tab-pane" id="others">{% include "layout/_indexCase.html" with cases=others_cases %}</div>
                </div>
            </div>
        </div>
    </div>

    {% include "layout/_modalActionCase.html" %}

    <script type="text/javascript">
    $(document).ready(function() {
        $('.datatables').dataTable({
            "sPaginationType": "bs_normal",
            "sDom": '<"row view-filter"<"col-sm-12"<"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-right"p>>>',
            "aaSorting": [[ 2, "desc" ]]
        });
    });
    </script>

{%  endblock %}