{% extends "base.html" %}

{% block content %}
    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <i class="fa fa-home"></i><a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{% url "analyses.views.list_cases" %}"><i class="fa fa-book"> </i> Cases</a>
            </li>
            <li class="active">
                New
            </li>
        </ol>
    </div>
</div>

     <div class="content">
        <div class="page-h1">
            <h1>New case</h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <div class="wdgt-header">Complete the following form to create a new case.</div>
                <div class="wdgt-body">
                    <form action="{% url "analyses.views.new_case" %}" method="POST">{% csrf_token %}
                        {%include "layout/_form.html"%}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}