{% extends "base.html" %}

{% block content %}
<div class="span11">
    <div class="content content-large">
        <div class="content-header">
            <h2><i class="icon-briefcase"> </i> Cases</h2>
        </div>
        <div class="content-breadcrumb">
            <ul class="breadcrumb">
                <li>
                    <a href="/"><i class="icon-home"> </i> Dashboard</a><span class="divider">&rsaquo;</span>
                </li>
                <li>
                    <a href="{% url "analyses.views.list_cases"%}"><i class="icon-briefcase"> </i> Cases</a>
                    <span class="divider">&rsaquo;</span>
                </li>
                <li class="active">
                    New
                </li>
            </ul>
        </div>
        <div class="content-body">
            <form action="{% url "analyses.views.new_case" %}" method="POST">{% csrf_token %}
                {%include "layout/_form.html"%}
            </form>
        </div>
    </div>
</div>
{% endblock %}