{% extends "base.html" %}

{% block content %}
<div class="span11">
    <div class="content content-large">
        <div class="content-header">
            <h2><i class="icon-briefcase"> </i> Cases: <small>{{ case.name }}</small></h2>
        </div>
        <div class="content-breadcrumb">
            <ul class="breadcrumb">
                <li>
                    <a href="/"><i class="icon-home"> </i> Dashboard</a><span class="divider">&rsaquo;</span>
                </li>
                <li>
                    <a href="{% url "analyses.views.list_cases" %}"><i class="icon-briefcase"> </i> Cases</a>
                    <span class="divider">&rsaquo;</span>
                </li>
                <li class="active">
                    {{ case.name }}
                </li>
            </ul>
        </div>
        <div class="content-body">
            {% include "analyses/cases/_tbl_case.html" %}
        </div>
    </div>
</div>

<div id="close" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3>Close the case</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure continue?
        </p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-warning" id="id">
            Close
        </a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Cancel
        </button>
    </div>
</div>

<script type="text/javascript">
$('.btn-close').click(function(){
    var id = $(this).attr("id");
    $("#id").attr({href: id});
});
</script>

{%  endblock %}