/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
#cboxContent{margin-top:20px;background:#000;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{border:5px solid #000; background:#fff;}
#cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
#cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
#cboxLoadingGraphic{background:url(../img/gallery/loading.gif) no-repeat center center;}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(../img/gallery/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:bottom left;}
#cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(../img/gallery/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
#cboxNext:hover{background-position:bottom right;}
#cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(../img/gallery/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
#cboxClose:hover{background-position:bottom center;}


.thumbnails {
 padding:0px;margin:0px;list-style-type:none; list-style-position:none; list-style-image:none;
}
.thumbnails > li img { max-height:200px; }
.thumbnails > li {
 overflow:hidden;
 margin: 2px;
 float:left;
 display:block;
 position:relative;
 width:200px;
 height:200px;
}




.thumbnails > li .options .icon { color:#FFF; margin-left:10px; padding:5px 0px; }
.thumbnails > li .options .icon:hover { color:#999; }
.thumbnails > li .options {
 left:0px;
 width:90px;
 right:0px;

 bottom:0px;
 overflow:visible
 padding:0; margin:0;
 vertical-align:middle;
 border:0px;
 background-color:transparent;
 display:inline-block;
 position:absolute;
 direction:rtl; background-color: rgba(0,0,0,0.55);padding-top:0px;
}

.thumbnails > li .icns .icon { color:#FFF; margin:0; margin-top:10px; padding:0px; width:13px;}
.thumbnails > li .icns .icon:hover { color:#999; }
.thumbnails > li .icns {
 left:0px;
 top:0px;
 height:90px;
 width:23px;
 text-align:center;
 bottom:0px;
 position:absolute;
 background-color: rgba(0,0,0,0.55);
}
.thumbnails > li .options .icon-remove:hover { color:#E48784; }
.thumbnails > li .icns .icon-remove:hover { color:#E48784; }
.thumbnails > li .options .icon-link:hover { color:#7BAEDA; }
.thumbnails > li .icns .icon-link:hover { color:#7BAEDA; }

/* DISPLAY SETTINGS FOR GALLERY */
.thumbnails > li .options { display:none; }
.thumbnails > li:hover .options { display:inline; }
.thumbnails > li .icns { display:none; }
.thumbnails > li:hover .icns { display:inline; }
.thumbnails > li .icns.static { display:inline; }
.thumbnails > li .options.static { display:inline; }

