<table class="table datatables">
    <thead>
        <tr>
            <th>#</th>
            <th>Message</th>
            <th>Category</th>
            <th>User</th>
            <th>Source IP</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {% for activity in activities %}
        <tr>
            <td>{{ activity.id }}</td>
            <td>
                {% if activity.message|length > 75 %}
                    {{ activity.message|slice:":75" }} ...
                {% else %}
                    {{ activity.message }}
                {% endif %}
            </td>
            <td>{{ activity.get_category_display }}</td>
            <td>{{ activity.user.username }}</td>
            <td>{{ activity.source_ip }}</td>
            <td>{{ activity.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('.datatables').dataTable({
        "sPaginationType": "bs_normal"
    });
    $('.datatables').each(function(){
        var datatable = $(this);
        var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
        search_input.attr('placeholder', 'Search');
        search_input.addClass('form-control input-sm');
        var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
        length_sel.addClass('form-control input-sm');
    });
});
</script>