{% extends "base.html" %}

{% block content %}

    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <i class="fa fa-home"></i><a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{% url "users.views.admin_list_users" %}"><i class="fa fa-book"> </i> Administration</a>
            </li>
            <li class="active">
                Activity
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Administration <small>activity logging</small></h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <div class="box">
                    <ul class="nav nav-pills nav-primary" id="cases_tab">
                        <li>
                            <a href="{% url "users.views.admin_list_users" %}">Users</a>
                        </li>
                        <li class="active">
                            <a href="{% url "users.views.admin_list_activity" %}">Activity</a>
                        </li>
                        <li>
                            <a href="{% url "manage.views.dependencies_list" %}">Requirements</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="users">
                            <div class="box">
                                {% include "admin/_list_activity.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}