{% extends "base.html" %}

{% block content %}

    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <span class="glyphicon glyphicon-home gi-0x"></span><a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{% url "analyses.views.list_cases" %}"><span class="glyphicon glyphicon-lock gi-0x"></span> Administration</a>
            </li>
            <li class="active">
                Requirements
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Administration <small>required modules</small></h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                    <ul class="nav nav-pills nav-primary" id="cases_tab">
                        <li>
                            <a href="{% url "users.views.admin_list_users" %}">Users</a>
                        </li>
                        <li>
                            <a href="{% url "users.views.admin_list_activity" %}">Activity</a>
                        </li>
                        <li class="active">
                            <a href="{% url "system.views.dependencies_list" %}">Requirements</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="users">
                            <div class="box">
                                <table class="table datatables">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Available</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dependency in dependencies %}
                                        <tr>
                                            <td>{{ dependency.name }}</td>
                                            <td>
                                                {% if dependency.available %}
                                                    <span class="glyphicon glyphicon-ok-circle text-success"></span>
                                                {% else %}
                                                    <span class="glyphicon glyphicon-remove-circle text-danger"></span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}