{% extends "base.html" %}

{% block content %}
<table class="table table-bordered table-striped responsive datatables">
    <thead>
        <tr>
            <th>Name</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        {% for dependency in dependencies %}
        <tr>
            <td>{{ dependency.name }}</td>
            <td>
                {% if dependency.available %}
                    <i class="icon-ok-circle text-success"></i>
                {% else %}
                    <i class="icon-ban-circle text-error"></i>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}