{% extends "base.html" %}

{% block content %}
<div class="span11">
    <div class="content content-large">
        <div class="content-header">
            <h2><i class="icon-edit"> </i> Edit profile</h2>
        </div>
        <div class="content-breadcrumb">
            <ul class="breadcrumb">
                <li>
                    <a href="/"><i class="icon-home"> </i> Dashboard</a><span class="divider">&rsaquo;</span>
                </li>
                <li>
                    <a href="{% url "users.views.admin_list_users" %}"><i class="icon-lock"> </i> Administration</a>
                        <span class="divider">&rsaquo;</span>
                </li>
                <li class="active">
                    Edit
                </li>
            </ul>
        </div>
        <div class="content-body">
            <form action="{% url "users.views.admin_edit_user" user.id %}" method="POST">{% csrf_token %}
                <div class="control-group">
                    <div class="controls">
                        <div class="fieldWrapper">
                            <label for="id_username">Username: (
                                <span class="helptext">
                                    <small><em>Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only</em></small>
                                </span> )
                            </label>
                            {{ form.username }}<span class="help-inline">{{ form.username.errors }}</span>
                        </div>
                        <div class="fieldWrapper">
                            <label for="id_email">Email:</label>
                            {{ form.email }}<span class="help-inline">{{ form.email.errors }}</span>
                        </div>
                        <div class="fieldWrapper">
                            <label for="id_last_name">Last name:</label>
                            {{ form.last_name }}<span class="help-inline">{{ form.last_name.errors }}</span>
                        </div>
                        <div class="fieldWrapper">
                            <label for="id_first_name">First name:</label>
                            {{ form.first_name }}<span class="help-inline">{{ form.first_name.errors }}</span>
                        </div>
                        <div class="fieldWrapper">
                            <label for="id_is_active">{{ form.is_active }} Active<span class="help-inline">{{ form.is_active.errors }}</span>
                            <span class="helptext">- Designates whether this user should be treated as active. Unselect this instead of deleting accounts.</span></label>
                        </div>
                        <div class="fieldWrapper">
                            <label for="id_is_superuser">{{ form.is_superuser }} Superuser<span class="help-inline">{{ form.is_superuser.errors }}</span>
                            <span class="helptext">- Designates that this user has all permissions without explicitly assigning them.</span></label>
                        </div>
                        <div class="fieldWrapper">
                            <label for="id_is_staff">{{ form.is_staff }} Staff<span class="help-inline">{{ form.is_staff.errors }}</span>
                            <span class="helptext">- Designates whether the user can log into this admin site.</span></label>
                        </div>
                        <div class="form-actions">
                            <button id="btn_submit" type="submit" class="btn btn-large btn-success">
                                Save
                            </button>
                            <a href="{% url "users.views.admin_show_user" user.id %}" class="btn btn-large"> Back </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}