{% extends "base.html" %}

{% block content %}

    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <span class="glyphicon glyphicon-home gi-0x"></span><a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{% url "users.views.admin_list_users" %}"><span class="glyphicon glyphicon-lock gi-0x"></span> Administration</a>
            </li>
            <li class="active">
                Edit
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Edit profile</h1>
        </div>
        <div class="col-md-12">
            {% include "layout/_profileForm.html" %}
        </div>
    </div>

{% endblock %}