{% extends "base.html" %}

{% block content %}

    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <span class="glyphicon glyphicon-home gi-0x"></span><a href="/">Dashboard</a>
            </li>
            <li class="active">
                Administration
            </li>
        </ol>
    </div>
</div>

     <div class="content">
        <div class="page-h1">
            <h1>Administration <small>user management</small></h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <div class="box">
                <a href="{% url "users.views.admin_new_user" %}" class="btn btn-success pull-right" data-tooltip="tooltip" data-placement="left" title="Add user"><span class="glyphicon glyphicon-plus"></span></a>
                    <ul class="nav nav-pills nav-primary" id="cases_tab">
                        <li class="active">
                            <a href="{% url "users.views.admin_list_users" %}">Users</a>
                        </li>
                        <li>
                            <a href="{% url "users.views.admin_list_activity" %}">Activity</a>
                        </li>
                        <li>
                            <a href="{% url "system.views.dependencies_list" %}">Requirements</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active box" id="users">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Active</th>
                                        <th>Superuser</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td><a href="{% url "users.views.admin_show_user" user.id %}">{{ user.username }}</a></td>
                                            <td>
                                                {% if user.is_active %}
                                                    <span class="glyphicon glyphicon-ok-circle text-success"></span>
                                                {% else %}
                                                    <span class="glyphicon glyphicon-remove-circle text-danger"></span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if user.is_superuser %}
                                                    <span class="glyphicon glyphicon-ok-circle text-success"></span>
                                                {% else %}
                                                    <span class="glyphicon glyphicon-remove-circle text-danger"></span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a class="btn btn-primary" data-tooltip="tooltip" title="View user" href="{% url "users.views.admin_show_user" user.id %}">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </a>
                                                <a class="btn btn-info" data-tooltip="tooltip" title="View user activity" href="{% url "users.views.admin_show_activity" user.id %}">
                                                    <span class="glyphicon glyphicon-tasks"></span>
                                                </a>
                                                <a class="btn btn-soft" data-tooltip="tooltip" title="Edit user" href="{% url "users.views.admin_edit_user" user.id %}">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                {% if user.is_active %}
                                                    <a class="btn btn-danger btn-disable" data-tooltip="tooltip" title="Disable user" href="#disable" role="button" data-toggle="modal" id="{% url "users.views.admin_disable_user" user.id %}">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </a>
                                                {% else %}
                                                    <a class="btn btn-danger" data-tooltip="tooltip" disabled="disabled" title="User disabled">
                                                       <span class="glyphicon glyphicon-trash"></span>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="disable" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Disable user</h4>
            </div>
            <div class="modal-body">
                Disabling an user the related account will be marked as inactive.
                So the user will not be able to logon in Ghiro, until an administrator
                will re-enable he.
                The user account and the user data will not be deleted.
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-danger" id="id-disable">Disable</a>
                <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.btn-disable').click(function(){
        var id = $(this).attr("id");
        $("#id-disable").attr({href: id});
    });
</script>
{% endblock %}