{% extends "base.html" %}

{% block content %}

    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <span class="glyphicon glyphicon-home gi-0x"><a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{% url "users.views.admin_list_users" %}"><span class="glyphicon glyphicon-lock gi-0x"> Administration</a>
            </li>
            <li class="active">
                New user
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Administration</h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <div class="wdgt-header">Create new user</div>
                <div class="wdgt-body">
                    <form action="{% url "users.views.admin_new_user" %}" method="POST">{% csrf_token %}
                        <div class="form-group form-inline">
                        Username (<span class="helptext"><small><em>Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only</em></small></span>)
                        <div class="controls box">
                            {{ form.username }}<span class="help-inline">{{ form.username.errors }}</span>
                        </div>
                        Password
                        <div class="controls box">
                            {{ form.password1 }}<span class="help-inline">{{ form.password1.errors }}</span>
                        </div>
                        Password (again) - <span class="helptext"><small><em> the same password as above, for verification.</em></small></span>
                        <div class="controls box">
                            {{ form.password2 }}<span class="help-inline">{{ form.password2.errors }}</span>
                        </div>
                        <div class="controls box">
                            <button id="btn_submit" type="submit" class="btn btn-success">
                                Save
                            </button>
                            <a href="javascript:history.back();" class="btn btn-default"> Back </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}