{% extends "base.html" %}

{% block content %}

    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <i class="fa fa-home"></i><a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{% url "users.views.admin_list_users" %}"><i class="fa fa-lock"></i> Administration</a>
            </li>
            <li class="active">
                {{ user.username }}'s profile
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>{{ user.username }}'s profile</h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <div class="left">
                    <h3 class="title-icon"><i class="fa fa-user"> </i> {{ user.username }}</h3>
                    <a href="{% url "users.views.admin_edit_user" user.id %}"><i class="fa fa-edit"></i> Edit profile</a>
                </div>
                <div class="col-md-12">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                        <dd>{{ user.first_name }}</dd>
                        <dt>Last name:</dt>
                        <dd>{{ user.last_name }}</dd>
                        <dt>Email:</dt>
                        <dd>{{ user.email }}</dd>
                    </dl>
                </div>
                <div class="col-md-12">
                    <h3 class="title-icon"><i class="fa fa-bar-chart"> </i> Stats</h3>
                    <dl class="dl-horizontal">
                        <dt>Case opened:</dt>
                        <dd><span class="badge badge-important">{{ user.owned_cases.all|length }}</span></dd>
                        <dt>My analyses:</dt>
                        <dd><span class="badge badge-success">{{ user.owned_images.all|length }}</span></dd>
                        <dt>My hash lists:</dt>
                        <dd><span class="badge badge-warning">{{ user.owned_hashes.all|length }}</span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Last login:</dt>
                        <dd>{{ user.last_login }}</dd>
                        <dt>Account created:</dt>
                        <dd>{{ user.date_joined }}</dd>
                        <dt>Account active:</dt>
                        <dd>
                            {%if user.is_active%}
                                <i class="fa fa-check-circle-o text-success"> </i>
                            {%else%}
                                <i class="fa fa-remove text-error"> </i>
                            {%endif%}
                        </dd>
                        <dt>Superuser:</dt>
                        <dd>
                            {%if user.is_superuser%}
                                <i class="fa fa-check-circle-o text-success"> </i>
                            {%else%}
                                <i class="fa fa-remove text-error"> </i>
                            {%endif%}
                        </dd>
                        <dt>Staff:</dt>
                        <dd>
                            {% if user.is_staff %}
                                <i class="fa fa-check-circle-o text-success"> </i>
                            {% else %}
                                <i class="fa fa-remove text-error"> </i>
                            {%endif%}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

{% endblock %}