{% extends "base.html" %}

{% block content %}
<div class="span11">
    <div class="content content-large">
        <div class="content-body">
            <section id="main">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="error-container center">
                                <div class="info-text text-transparent">
                                    Sorry! Something went wrong here!
                                </div>
                                <hr class="main">
                                <div class="error-text text-transparent">
                                    <i class="icon-warning-sign"> </i>
                                </div>
                                <hr class="main">
                                <div class="info-text text-transparent">
                                    <div class="error">{{error}}</div>
                                </div>
                                <div>
                                    <a class="btn medium-blue" href="javascript:history.back();"><i class="icon-ok-sign"> </i> Back </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}