{% extends "base.html" %}

{% block content %}
    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <i class="fa fa-home"></i><a href="/">Dashboard</a>
            </li>
            <li class="active">
                Images
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Images <small>browse all images</small></h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <ul class="nav nav-pills nav-primary">
                    <li {% if pagename == "list" %} class="active" {% endif %}>
                        <a href="{% url "analyses.views.list_images" "list"%}">List</a>
                    </li>
                    {% if not hide_thumb %}
                        <li {% if pagename == "thumb" %} class="active" {% endif %}>
                            <a href="{% url "analyses.views.list_images" "thumb" %}">Thumbnails</a>
                        </li>
                    {% endif %}
                    <li {% if pagename == "map" %} class="active" {% endif %}>
                        <a href="{% url "analyses.views.list_images" "map" %}">Map</a>
                    </li>
                    <li {% if pagename == "favorites" %} class="active" {% endif %}>
                        <a href="{% url "analyses.views.list_images" "favorites" %}">Favorites</a>
                    </li>
                </ul>
            <div>
            {% if pagename == "list" %}
                {% include "analyses/cases/_list_image.html" %}
                {% if images %}
                        {% if images.has_previous %}
                            <a href="{% url "analyses.views.list_images" "list" %}?page={{ images.previous_page_number }}" class="btn btn-default">← Previous</a>
                        {% endif %}
                        {% if images.has_next %}
                            <a href="{% url "analyses.views.list_images" "list" %}?page={{ images.next_page_number }}" class="btn btn-default">Next → </a>
                        {% endif %}
                        <small class="pull-right">Page {{ images.number }} of {{ images.paginator.num_pages }}</small>
                {% endif %}
            {% elif pagename == "thumb" %}
                {% include "analyses/cases/_thum_image.html" %}
                {% if images %}
                    {% if images.has_previous %}
                        <a href="{% url "analyses.views.list_images" "thumb" %}?page={{ images.previous_page_number }}" class="btn btn-default">← Previous</a>
                    {% endif %}
                    {% if images.has_next %}
                        <a href="{% url "analyses.views.list_images" "thumb" %}?page={{ images.next_page_number }}" class="btn btn-default">Next → </a>
                    {% endif %}
                    <small class="pull-right">Page {{ images.number }} of {{ images.paginator.num_pages }}</small>
                {% else %}
                    <div class="alert alert-info">
                        <span class="fa fa-info-circle"></span>
                        <strong>Info!</strong>
                        There are not any photos
                    </div>
                {% endif %}
            {% elif pagename == "map" %}
                {% include "analyses/cases/_map_image.html" %}
            {% elif pagename == "favorites" %}
                {% include "analyses/cases/_favorites.html" %}
            {% endif %}
        </div>
    </div>

{% endblock %}