{% extends "base.html" %}

{% block content %}
    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <span class="glyphicon glyphicon-home gi-0x"></span><a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{% url "analyses.views.list_cases" %}"><span class="glyphicon glyphicon-book gi-0x"></span> Cases</a>
            </li>
             <li>
                <a href="{% url "analyses.views.show_case" case.id "list" %}"><span class="glyphicon glyphicon-th-list gi-0x"></span>
                    {% if case.name|length > 70 %}
                        {{ case.name|slice:":70" }} ...
                    {% else %}
                        {{ case.name }}
                    {% endif %}
                </a>
            </li>
            <li class="active">
                New image
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Upload photo<small> in
                "{% if case.name|length > 70 %}
                    {{ case.name|slice:":70" }} ...
                {% else %}
                    {{ case.name }}
                {% endif %}" case</small>
            </h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <div id="uploader"></div>
                <div id="filelist" class="hide">
                    <strong id="generic_error">
                        <span class="glyphicon glyphicon-warning-sign text-danger"></span>
                        Errors:
                    </strong>
                    <strong id="server_error" class="hide">
                        <span class="glyphicon glyphicon-warning-sign text-danger"></span>
                        Server error: unexpected error, try to reload page and check logs.
                    </strong>
                </div>
            </div>
        </div>
    </div>

    {# Styles #}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/plupload/jquery.plupload.queue.css">
    {# JS #}
    <script src="{{ STATIC_URL }}js/plupload/moxie.min.js"></script>
    <script src="{{ STATIC_URL }}js/plupload/jquery.plupload.queue.js"></script>
    <script src="{{ STATIC_URL }}js/plupload/plupload.full.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#uploader").pluploadQueue({
                runtimes : 'html5,flash',
                url : '{% url "analyses.views.new_image" case.id %}',
                unique_names: false,
                multipart: true,
                file_data_name: 'image',
                preinit: {
                    Init: function () {
                        $('#uploader_container').removeAttr("title");
                    }
                },
                flash_swf_url : '{{ STATIC_URL }}js/plupload/plupload.flash.swf',
                headers : {'X-Requested-With' : 'XMLHttpRequest', 'X-CSRFToken' : '{{csrf_token}}'}
            });

            $('form').submit(function(e) {
                var uploader = $('#uploader').pluploadQueue();

                if (uploader.total.uploaded == 0) {
                    if (uploader.files.length > 0) {
                        uploader.bind('UploadProgress', function() {
                            if (uploader.total.uploaded == uploader.files.length)
                                $('form').submit();
                        });
                        uploader.start();
                    }
                    e.preventDefault();
                }
            });

            var uploader = $('#uploader').pluploadQueue();

            uploader.bind('FilesAdded', function() {
                $('.plupload_start').show();
                $('.result_button').hide();
                $('#uploader_browse').css('color','#FFF');
            });

            uploader.bind('UploadComplete', function(up) {
                if (up.total.queued == 0 && uploader.total.uploaded == up.files.length){
                    window.location.href = "{% url "analyses.views.show_case" case.id "list" %}";
                }else{
                    $('.plupload_buttons').append("<a href='{% url 'analyses.views.show_case' case.id 'list' %}' class='btn result_button'>Back</a>").show();
                    $('.plupload_start').hide();
                }
            });

            uploader.bind('FileUploaded', function(up, file, info) {
                var response = jQuery.parseJSON(info.response);
                if(response.error){
                    file.status = plupload.FAILED;
                    up.trigger('QueueChanged');
                    $('#filelist').append("<div>" + (file ? " File: " + file.name : "") +
                            ", Reason: " + response.error.message +
                            "</div>"
                    ).removeClass('hide');
                }else{
                    $('#generic_error').removeClass('hide');
                    $('.result_button').hide();
                }
            });

            uploader.bind('Error', function(up, err) {
                $('#filelist').append("<div>" +
                        (err.file ? " File: " + err.file.name : "") +
                        "</div>"
                ).removeClass('hide');
                $('#server_error').removeClass('hide');
                $('.result_button').hide();
            });

        })
    </script>

    {% endblock %}