{% extends "base.html" %}

{% block content %}
    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <i class="fa fa-home"></i><a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{% url "analyses.views.list_cases" %}"><i class="fa fa-book"> </i> Cases</a>
            </li>
             <li>
                <a href="{% url "analyses.views.show_case" case.id "list" %}"><i class="fa fa-th-list"> </i>
                    {% if case.name|length > 70 %}
                        {{ case.name|slice:":70" }} ...
                    {% else %}
                        {{ case.name }}
                    {% endif %}
                </a>
            </li>
            <li class="active">
                New Folder
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>New folder <small>in
                <span style="color: salmon">{% if case.name|length > 70 %}
                    {{ case.name|slice:":70" }} ...
                {% else %}
                    {{ case.name }}
                {% endif %}</span> case</small>
            </h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <blockquote>
                    <p>You can load all images in a folder located on Ghiro server, just write the folder path.</p>
                </blockquote>
                <form action="{% url "analyses.views.new_folder" case.id %}" method="post" class="form-inline">{% csrf_token %}
                    <div class="input-append">
                        <input id="id_path" type="text" name="path" class="form-control">
                        <button id="btn_submit" type="submit" class="btn btn-success">
                            Add
                        </button>
                        <a href="{% url "analyses.views.show_case" case.id "list" %}" class="btn btn-default"> Back </a>
                    </div>
                    <span class="help-inline">{{ form.path.errors }}</span>
                </form>
            </div>
        </div>
    </div>

{% endblock %}