{% extends "base.html" %}

{% block content %}
    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <span class="glyphicon glyphicon-home gi-0x"></span><a href="/">Dashboard</a>
            </li>
            <li class="active">
                Search
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Search <small>in all cases or specific case</small></h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <div class="wdgt-header">Enter keywords for your search</div>
                <div class="wdgt-body">
                    {% include "layout/_searchForm.html" with in_case_id=False %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
