{% extends "base.html" %}

{% block content %}

    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <span class="glyphicon glyphicon-home gi-0x"></span><a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{% url "analyses.views.list_cases" %}"><span class="glyphicon glyphicon-briefcase gi-0x"></span> Cases</a>
            </li>
             <li>
                <a href="{% url "analyses.views.show_case" analysis.case.id "list" %}"><span class="glyphicon glyphicon-book gi-0x"></span>
                    {{ analysis.case.name }}
                </a>
            </li>
            <li class="active">
                Wait...
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Cases</h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <script type="text/javascript">
                    setTimeout("location.reload(true);", 2000);
                </script>
                <div>
                    <h3>Processing {{ analysis.file_name }}</h3>
                </div>
                <div>
                    <div class="alert alert-info">
                        <h4>Chipmunks working...</h4>
                        <p>
                            Your analysis task is waiting to be processed. This page will refresh every second, you will be automatically redirect to analysis when ready.
                        </p>
                        <div class="progress progress-info progress-striped active">
                            <div class="bar" style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}