{% extends "base.html" %}
{% load analyses_tags %}

{% block content %}
<div class="span11">
    <div class="content content-large">
        <div class="content-header">
            <h2><i class="icon-dashboard"> </i> Dashboard<small> welcome to ghiro</small></h2>
        </div>
        <div class="content-breadcrumb">
            <ul class="breadcrumb">
                <li class="active">
                    Dashboard
                </li>
            </ul>
            <ul class="breadcrumb hide newVersion" id="yellow">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <li>
                    <a href="http://getghiro.org"><strong>Info!</strong> Ghiro is back with a brand new version. <i class="icon-download-alt"></i></a>
                </li>
            </ul>
        </div>
        <div class="content-body">
            <div class="row-fluid stats-box">
                <div class="span3">
                    <div class="stats-box-title">
                        <span class="badge">Users</span>
                    </div>
                    <div class="stats-box-all-info">
                        <i class="icon-user"> </i> {{ users_count }}
                    </div>
                </div>
                <div class="span3">
                    <div class="stats-box-title">
                        <span class="badge badge-info">Open cases</span>
                    </div>
                    <div class="stats-box-all-info">
                        <i class="icon-briefcase"> </i> {{ open_cases_count }}
                    </div>
                </div>
                <div class="span3">
                    <div class="stats-box-title">
                        <span class="badge badge-success">Analyses completed</span>
                    </div>
                    <div class="stats-box-all-info">
                        <i class="icon-book"> </i> {{ analyses_complete_count }}
                    </div>
                </div>
                <div class="span3">
                    <div class="stats-box-title">
                        <span class="badge badge-warning">Analyses waiting</span>
                    </div>
                    <div class="stats-box-all-info">
                        <i class="icon-time"> </i> {{ analyses_wait_count }}
                    </div>
                </div>
            </div>
            <div class="row-fluid stats-box">
                <div class="span6">
                    <blockquote>
                        <p>Last opened cases</p>
                    </blockquote>
                    <table class="table table-bordered table-striped responsive">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Created at</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if last_cases %}
                                {% for case in last_cases %}
                                <tr>
                                    <td><a href="{% url "analyses.views.show_case" case.id "list" %}">{{ case.name }}</a></td>
                                    <td>{{ case.created_at }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="2">
                                        No data available in table
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="span6">
                    <blockquote>
                        <p>Last analyses completed</p>
                    </blockquote>
                    <table class="table table-bordered table-striped responsive">
                        <thead>
                            <tr>
                                <th>File name</th>
                                <th>Completed at</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if last_analyses %}
                                {% for anal in last_analyses %}
                                    <tr>
                                        <td><a href="{% url "analyses.views.show_analysis" anal.id %}">{{ anal.file_name }}</a></td>
                                        <td>{{ anal.completed_at }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="2">
                                        No data available in table
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'area'
        },
        credits: {
            enabled: false
        },
        title: {
            text: 'Last 30 days'
        },
        subtitle: {
            text: 'Analyses processing trend'
        },
         xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Analyses'
            }
        },
        tooltip: {
            enabled: false
        },
        series: [{
            name: 'Completed analyses',
            color: "#A8CD59",
            data: [
                {% for item in completed_graph %}
                    [Date.parse("{{item.created_at|to_date|date:"m/d/Y"}}","MM/dd/yyyy"), {{item.counter}}]
                    {% if not forloop.last %}{% ifequal forloop.revcounter 2 %}, {% else %}, {% endifequal %}{% else %}{% endif %}
                {% endfor %}
            ]
        }, {
            name: 'Failed analyses',
            color: "#AC4040",
            data: [
                {% for item in failed_graph %}
                    [Date.parse("{{item.created_at|to_date|date:"m/d/Y"}}","MM/dd/yyyy"), {{item.counter}}]
                    {% if not forloop.last %}{% ifequal forloop.revcounter 2 %}, {% else %}, {% endifequal %}{% else %}{% endif %}
                {% endfor %}
            ]
        }, {
            name: 'Waiting analyses',
            color: "#FFC90E",
            data: [
                {% for item in waiting_graph %}
                    [Date.parse("{{item.created_at|to_date|date:"m/d/Y"}}","MM/dd/yyyy"), {{item.counter}}]
                    {% if not forloop.last %}{% ifequal forloop.revcounter 2 %}, {% else %}, {% endifequal %}{% else %}{% endif %}
                {% endfor %}
            ]
        }]
    });
});
</script>

{% endblock %}