{% extends "base.html" %}
{% load analyses_tags %}

{% block content %}
    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li class="active"><span class="glyphicon glyphicon-home gi-0x"></span> Dashboard</li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Dashboard <small>welcome to ghiro</small></h1>
        </div>
        <div id="newVersion" class="col-md-12 hidden">
            <div class="alert alert-info" style="margin-bottom:0px;margin-top:10px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="icon icon-exclamation-sign"></span> <strong>Info!</strong> Ghiro is back with a brand new version.
            </div>
        </div>
        <div class="tbl">
            <div class="col-md-12">
                <div class="wdgt wdgt-primary">
                    <div class="wdgt-header">Chart</div>
                    <div class="wdgt-body" style="padding-bottom:10px;">
                        <div id="container" style="height: 346px; margin: 20px 5px; padding: 0px; position: relative;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tbl">
            <div class="col-md-6">
                <div class="wdgt wdgt-warning" hide-btn="true">
                    <div class="wdgt-header">Last opened cases</div>
                    <div class="wdgt-body wdgt-table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Created at</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% if last_cases %}
                                    {% for case in last_cases %}
                                    <tr>
                                        <td>
                                            <a href="{% url "analyses.views.show_case" case.id "list" %}">
                                                {% if case.name|length > 30 %}
                                                    {{ case.name|slice:":30" }} ...
                                                {% else %}
                                                    {{ case.name }}
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td>{{ case.created_at }}</td>
                                        <td>
                                            <a href="{% url "analyses.views.show_case" case.id "thumb" %}" type="button" class="btn btn-primary btn-xs" data-tooltip="tooltip" title="View case thumbnails"><span class="glyphicon glyphicon-camera"></span></a>
                                            <a href="{% url "analyses.views.show_case" case.id "list" %}" type="button" class="btn btn-info btn-xs" data-tooltip="tooltip" title="View case"><span class="glyphicon glyphicon-book"></span></a>
                                            <a href="{% url "analyses.views.edit_case" case.id %}" type="button" class="btn btn-soft btn-xs" data-tooltip="tooltip" title="Edit case"><span class="glyphicon glyphicon-pencil"></span></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="2">
                                            No data available in table
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wdgt wdgt-success" hide-btn="true">
                    <div class="wdgt-header">Last analyses completed</div>
                    <div class="wdgt-body wdgt-table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>File name</th>
                                <th>Created at</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% if last_analyses %}
                                    {% for anal in last_analyses %}
                                        <tr>
                                            <td>
                                                <a href="{% url "analyses.views.show_analysis" anal.id %}">
                                                    {% if anal.file_name|length > 60 %}
                                                        {{ anal.file_name|slice:":60" }} ...
                                                    {% else %}
                                                        {{ anal.file_name }}
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td>{{ anal.completed_at }}</td>
                                            <td>
                                                <a href="{% url "analyses.views.image" anal.image_id %}" type="button" class="btn btn-primary btn-xs fancybox" data-tooltip="tooltip" title="View photo"><span class="glyphicon glyphicon-picture"></span></a>
                                                <a href="{% url "analyses.views.show_analysis" anal.id %}" type="button" class="btn btn-info btn-xs" data-tooltip="tooltip" title="View report"><span class="glyphicon glyphicon-list-alt"></span></a>
                                                {% if anal.image.favorites.all %}
                                                    <a id="{% url "analyses.views.favorite" anal.id %}" rel="{{ anal.id }}" type="button" class="favorite btn btn-xs btn-warning star{{anal.id}}" data-tooltip="tooltip" title="Un-set as favorite"> <span class="glyphicon glyphicon-star"></span></a>
                                                {% else %}
                                                    <a id="{% url "analyses.views.favorite" anal.id %}" rel="{{ anal.id }}" type="button" class="favorite btn btn-xs btn-default star{{anal.id}}" data-tooltip="tooltip" title="Set as favorite"> <span class="glyphicon glyphicon-star"></span></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="2">
                                            No data available in table
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'area'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Last 30 days'
            },
            subtitle: {
                text: 'Analyses processing trend'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Analyses'
                }
            },
            tooltip: {
                enabled: false
            },
            series: [{
                name: 'Completed analyses',
                color: "#A8CD59",
                data: [
                    {% for item in completed_graph %}
                        [Date.parse("{{item.created_at|to_date|date:"m/d/Y"}}","MM/dd/yyyy"), {{item.counter}}]
                        {% if not forloop.last %}{% ifequal forloop.revcounter 2 %}, {% else %}, {% endifequal %}{% else %}{% endif %}
                    {% endfor %}
                ]
            }, {
                name: 'Failed analyses',
                color: "#AC4040",
                data: [
                    {% for item in failed_graph %}
                        [Date.parse("{{item.created_at|to_date|date:"m/d/Y"}}","MM/dd/yyyy"), {{item.counter}}]
                        {% if not forloop.last %}{% ifequal forloop.revcounter 2 %}, {% else %}, {% endifequal %}{% else %}{% endif %}
                    {% endfor %}
                ]
            }, {
                name: 'Waiting analyses',
                color: "#FFC90E",
                data: [
                    {% for item in waiting_graph %}
                        [Date.parse("{{item.created_at|to_date|date:"m/d/Y"}}","MM/dd/yyyy"), {{item.counter}}]
                        {% if not forloop.last %}{% ifequal forloop.revcounter 2 %}, {% else %}, {% endifequal %}{% else %}{% endif %}
                    {% endfor %}
                ]
            }]
        });
    });
    </script>

{% endblock %}

