{% extends "base.html" %}

{% block content %}

    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <i class="fa fa-home"></i><a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{% url "users.views.profile" %}"><i class="fa fa-user"></i> Profile</a>
            </li>
            <li class="active">
                Change password
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>Change password</h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <div class="wdgt-header">Change password for {{ user.username }}</div>
                <div class="wdgt-body" style="padding-bottom:10px;">
                    <form action="{% url "django.contrib.auth.views.password_change" %}" method="post">{% csrf_token %}
                        <div class="form-group">
                            Old password:
                            <div class="controls box">
                                {{ form.old_password }}<span class="help-inline">{{ form.old_password.errors }}</span>
                            </div>
                            New password:
                            <div class="controls box">
                                {{ form.new_password1 }}<span class="help-inline">{{ form.new_password1.errors }}</span>
                            </div>
                            Password (again):
                            <div class="controls box">
                                {{ form.new_password2 }}<span class="help-inline">{{ form.new_password2.errors }}</span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button id="btn_submit" type="submit" class="btn btn-success">
                                Change
                            </button>
                            <a href="{% url "users.views.profile" %}" class="btn btn-default"> Back </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}