{% extends "base.html" %}

{% block content %}

    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <i class="fa fa-home"></i><a href="/">Dashboard</a>
            </li>
            <li>
                <a href="{% url "users.views.profile" %}"><i class="fa fa-user"></i> Profile</a>
            </li>
            <li class="active">
                Password change
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="col-md-12">
            <div class="wdgt">
                <div class="alert alert-info">
                    Password changed!
                </div>
            </div>
        </div>
    </div>

{% endblock %}