{% extends "base.html" %}

{% block content %}
<div class="span11">
    <div class="content content-large">
        <div class="content-header">
            <h2><i class="icon-key"> </i> Change password</h2>
        </div>
        <div class="content-breadcrumb">
            <ul class="breadcrumb">
                <li>
                    <a href="/"><i class="icon-home"> </i> Dashboard</a><span class="divider">&rsaquo;</span>
                </li>
                <li>
                    <a href="{% url "users.views.profile" %}"><i class="icon-user"> </i> Profile</a>
                    <span class="divider">&rsaquo;</span>
                </li>
                <li class="active">
                    Change password
                </li>
            </ul>
        </div>
        <div class="content-body">
            <form action="{% url "django.contrib.auth.views.password_change" %}" method="post">{% csrf_token %}
                <div class="control-group">
                    <div class="controls">
                        <div class="fieldWrapper">
                            <label for="id_first_name">Old password:</label>
                            {{ form.old_password }}<span class="help-inline">{{ form.old_password.errors }}</span>
                        </div>
                        <div class="fieldWrapper">
                            <label for="id_first_name">New password:</label>
                            {{ form.new_password1 }}<span class="help-inline">{{ form.new_password1.errors }}</span>
                        </div>
                        <div class="fieldWrapper">
                            <label for="id_first_name">Password (again):</label>
                            {{ form.new_password2 }}<span class="help-inline">{{ form.new_password2.errors }}</span>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button id="btn_submit" type="submit" class="btn btn-large btn-success">
                        Change
                    </button>
                    <a href="{% url "users.views.profile" %}" class="btn btn-large"> Back </a>
                </div>
            </form>
        </div>
    </div>
</div>  
{% endblock %}