{% extends "base.html" %}

{% block content %}
    <div class="crumbs">
        <ol class="breadcrumb hidden-xs">
            <li>
                <span class="glyphicon glyphicon-home gi-0x"></span><a href="/">Dashboard</a>
            </li>
            <li class="active">
                {{ user.username }}'s profile
            </li>
        </ol>
    </div>
</div>

    <div class="content">
        <div class="page-h1">
            <h1>{{ user.username }}'s profile</h1>
        </div>
        <div class="col-md-12">
            <div class="wdgt">
                <div class="profile-container">
                    <div class="profile-header row">
                        <div class="col-lg-2 col-md-4 col-sm-12 text-center">
                            <i class="header-avatar glyphicon glyphicon-user gi-6x"></i>
                        </div>
                        <div class="col-lg-5 col-md-8 col-sm-12 profile-info">
                            {% if user.first_name %}
                                <div class="header-fullname">
                                    {{ user.first_name }} {{ user.last_name }} <a href="{% url "users.views.admin_edit_user" user.id %}"><i class="glyphicon glyphicon-pencil" data-tooltip="tooltip" title="Edit profile"></i></a>
                                </div>
                            {% else %}
                                <a href="{% url "users.views.admin_edit_user" user.id %}">Edit Name and Surname</a>
                            {% endif %}
                            <a class="btn-follow">
                                {{ user.email }}
                            </a>
                            <div class="header-information">
                                API key: {{ user.api_key }}
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 profile-stats">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
                                    <div class="stats-value pink">{{ user.owned_cases.all|length }}</div>
                                    <div class="stats-title">Case opened</div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
                                    <div class="stats-value pink">{{ user.owned_images.all|length }}</div>
                                    <div class="stats-title">My analyses</div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
                                    <div class="stats-value pink">{{ user.owned_hashes.all|length }}</div>
                                    <div class="stats-title">My hash lists</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                    Account active:
                                    {%if user.is_active%}
                                        <i class="glyphicon glyphicon-ok-circle text-success"></i>
                                    {%else%}
                                        <i class="glyphicon glyphicon-remove-circle text-danger"></i>
                                    {%endif%}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                    Superuser:
                                    {%if user.is_superuser%}
                                        <i class="glyphicon glyphicon-ok-circle text-success"></i>
                                    {%else%}
                                        <i class="glyphicon glyphicon-remove-circle text-danger"></i>
                                    {%endif%}
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                                    Staff:
                                    {%if user.is_staff%}
                                        <i class="glyphicon glyphicon-ok-circle text-success"></i>
                                    {%else%}
                                        <i class="glyphicon glyphicon-remove-circle text-danger"></i>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}