<div class="form-group">
    {{ form.non_field_errors }}
    <div>
        Name:
        {{ form.name }}<span class="help-inline">{{ form.name.errors }}</span>
    </div>
    <div>
        Description:
        {{ form.description }}<span class="help-inline">{{ form.description.errors }}</span>
    </div>
    <div>
        Users:
        {{ form.users }}<span class="help-inline">{{ form.users.errors }}</span><em>Use the CTRL key to select multiple users.</em>
    </div>
    <div>
        <button id="btn_submit" type="submit" class="btn btn-success">
            Save
        </button>
        <a href="{% url "analyses.views.list_cases" %}" class="btn btn-default">Back</a>
    </div>
</div>
