<div class="form-group form-inline">
    Name
    <div class="controls box">
        {{ form.name }}<span class="help-inline">{{ form.name.errors }}</span>
    </div>
    Description
    <div class="controls box">
        {{ form.description }}<span class="help-inline">{{ form.description.errors }}</span>
    </div>
    Users
    <div class="controls box">
        {{ form.users }}<span class="help-inline">{{ form.users.errors }}</span> <em>Use the CTRL key to select multiple users.</em>
    </div>
    <div class="controls box">
        <button id="btn_submit" type="submit" class="btn btn-success">
            Save
        </button>
        <a href="{% url "analyses.views.list_cases" %}" class="btn btn-default">Back</a>
    </div>
</div>