<div class="row-fluid">
    <div class="span12">
        <div class="box corner-all">
            <div class="box-body">
                <table class="table table-bordered table-striped responsive datatables">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Created at</th>
                            <th>Owner</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for case in cases %}
                            <tr>
                                <td>
                                    <a href="{% url "analyses.views.show_case" case.id "list" %}">
                                        {% if case.name|length > 70 %}
                                            {{ case.name|slice:":70" }} ...
                                        {% else %}
                                            {{ case.name }}
                                        {% endif %}
                                    </a>
                                </td>
                                <td>{{ case.get_state_display }}</td>
                                <td>{{ case.created_at }}</td>
                                <td>{{ case.owner.username }}</td>
                                <td>
                                <div class="btn-group">
                                    {% if case.state == "C" %}
                                        <a class="btn tool" title="No actions available" disabled="disabled"> <i class="icon-edit"></i> </a>
                                        <a class="btn btn-warning tool" disabled="disabled" title="Case already closed"> <i class="icon-remove"></i> </a>
                                        <a class="btn btn-danger tool btn-delete-case" id="{% url "analyses.views.delete_case" case.id %}" title="Delete case" href="#delete" role="button" data-toggle="modal"> <i class="icon-trash"></i> </a>
                                    {% else %}
                                        <a class="btn tool" title="Edit case" href="{% url "analyses.views.edit_case" case.id %}"> <i class="icon-edit"></i> </a>
                                        <a class="btn btn-warning tool btn-close-case" id="{% url "analyses.views.close_case" case.id %}" title="Close case" href="#close" role="button" data-toggle="modal"> <i class="icon-remove"></i> </a>
                                        <a class="btn btn-danger tool btn-delete-case" id="{% url "analyses.views.delete_case" case.id %}" title="Delete case" href="#delete" role="button" data-toggle="modal"> <i class="icon-trash"></i> </a>
                                    {% endif %}
                                </div></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>