<div class="modal fade" id="close" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Close the case</h4>
            </div>
            <div class="modal-body">
                Are you sure continue?
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-warning" id="id-close">Close</a>
                <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete the case</h4>
            </div>
            <div class="modal-body">
                Are you sure continue?
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-danger" id="id-delete">Delete</a>
                <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteReport" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete the report</h4>
            </div>
            <div class="modal-body">
                Are you sure continue?
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-danger" id="id-delete-report">Delete</a>
                <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>