<div class="span1">
    <aside class="side-left">
        <ul class="sidebar">
            <li id="side-dashboard">
                <span class="glow"> </span>
                <a href="/" title="dashboard">
                <div class="helper-font-24">
                    <i class="icon-dashboard"> </i>
                </div> <span class="sidebar-text">Dashboard</span></a>
            </li>
            <li id="side-cases">
                <span class="glow"> </span>
                <a href="{% url "analyses.views.list_cases" %}" title="cases">
                <div class="helper-font-24">
                    <i class="icon-briefcase"> </i>
                </div> <span class="sidebar-text">Cases</span></a>
            </li>
            <li id="side-images">
                <span class="glow"> </span>
                <a href="{% url "analyses.views.list_images" "list" %}" title="images">
                <div class="helper-font-24">
                    <i class="icon-picture"> </i>
                </div> <span class="sidebar-text">Images</span></a>
            </li>
            <li id="side-search">
                <span class="glow"> </span>
                <a href="{% url "analyses.views.search" "form" %}" title="search">
                <div class="helper-font-24">
                    <i class="icon-search"> </i>
                </div> <span class="sidebar-text">Search</span></a>
            </li>
            <li id="side-hashes">
                <span class="glow"> </span>
                <a href="{% url "hashes.views.list_hashes" %}" title="hashes">
                <div class="helper-font-24">
                    <i class="icon-table"> </i>
                </div> <span class="sidebar-text">Hashes</span></a>
            </li>
            {% if request.user.is_stuff or request.user.is_superuser %}
            <li id="side-admin">
                <span class="glow"> </span>
                <a href="{% url "users.views.admin_list_users" %}" title="administrator">
                <div class="helper-font-24">
                    <i class="icon-lock"> </i>
                </div> <span class="sidebar-text">Admin</span></a>
            </li>
            {% endif %}
        </ul>
    </aside>
</div>
<script type="text/javascript">
    $("#{{ request.session.sidebar_active }}").addClass("active");
</script>
